/* responsivo */

/*Desk*/

@media (max-width: 1960px) {
    .col-md-push-4 {
        left: 33.33333333%;
    }
    .col-md-pull-10 {
        right: 83.33333333%;
    }
    .col-md-push-2 {
        left: 16.66666667%;
    }
    .col-md-pull-8 {
        right: 66.66666667%;
    }


}

/* Tablet */

@media only screen and (max-width: 767px) {

    .carroul-l {
        margin: 0 auto;
        margin-top: 60px;
    }

    .carroul-r {
        margin-top: -320px;
    }

    .toggle-img {
        visibility: hidden;
    }

    .qmsomos,
    .text-samba {
        margin: 0 auto;
    }

    .mobile-al {
        width: 80%;
    }

    /* Rock */
    .video {
        width: 330px;
        height: 200px;
        margin: 0 auto;
    }

    .faq-titulo::after {
        margin-left: 90px;
    }

    .rock-art {
        margin-bottom: 20px;
    }

    .border-middle {
        border: none;
    }

    .logo {
        margin-left: 30px;
    }

    /* Pagode */
    .ImgNav {
        margin-left: 100px;
    }
}

/*Smart*/

@media (max-width: 520px) {

    .carroul-l {
        margin: 0 auto;
        margin-top: 60px;
    }

    .video {
        width: 290px;
        height: 180px;
        margin: 0 auto;
    }

    .h1-samba {
        padding: 20px auto;
    }
    .col-sm-push-0 {
        left: auto;
        right: auto;
    }
}
